{% extends "layouts/base.html" %}

{% block title %} Culture Agricole {% endblock %}

{% block stylesheets %}
<style>
    .custom-button {
        display: inline-block;  
        padding: 10px 20px;  
        background-color: #075018;  
        color: white;  
        text-align: center;  
        border: none;  
        border-radius: 5px;  
        cursor: pointer;  
        text-decoration: none;  
    }
    .custom-button:hover {
        background-color: #1a772e;  
    }
  </style>
{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Culture Agricole</h5>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'create_culture' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Agricultural Crop Name</label>
                                    <input type="text" class="form-control" name="nom" placeholder="Agricultural Crop Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Crop Description</label>
                                    <textarea class="form-control" name="description" placeholder="Crop Description
"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Growth Cycle Duration (in Days)</label>
                                    <input type="number" class="form-control" name="cycle_croissance_jours" placeholder="Growth Cycle Duration in Days">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Expected Yield</label>
                                    <input type="number" step="0.01" class="form-control" name="rendement_attendu" placeholder="Expected Yield">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Preferred Soil Type</label>
                                    <input type="text" class="form-control" name="type_sol_prefere" placeholder="Preferred Soil Type">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Recommended Climate Zone</label>
                                    <input type="text" class="form-control" name="zone_culture_recommandee" placeholder="Recommended Climate Zone">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Irrigation</label>
                                    <input type="text" class="form-control" name="irrigation" placeholder="Required water quantity ">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="custom-button">Save</button>
                    </form>

                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ field.label }}: {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}