<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prédiction de Quantité</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Prédiction de la Demande en Ressources</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.nom_ressource.label_tag }}
                {{ form.nom_ressource }}
            </div>
            <div class="form-group">
                {{ form.saison.label_tag }}
                {{ form.saison }}
            </div>
            <button type="submit" class="btn btn-primary">Prédire</button>
        </form>

        {% if predicted_quantity is not None %}
            <div class="alert alert-success mt-4">
                <strong>Quantité Prédite :</strong> {{ predicted_quantity }}
            </div>
        {% endif %}
    </div>
</body>
</html>
