{% extends "layouts/base.html" %}

{% block title %}Tables{% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <form method="GET" action="{% url 'all_prog' %}">
                <div class="row">
                    <div class="col-md-7 pr-md-1">
                        <div class="form-group">
                            <input type="text" class="form-control me-5" name="search" placeholder="Rechercher par nom ou pesticide" value="{{ search_query|default:'' }}">
                        </div>
                    </div>
                    <div class="col-md-5 px-md-1">
                        <div class="form-group">
                            <button class="btn btn-outline-secondary" type="submit">Rechercher</button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="text-right mb-3">
                <a href="{% url 'add_prog' %}" class="btn btn-primary">
                    Ajouter un programme
                </a>
               
            </div>
            
            <div class="card">
                {% if messages %}
                <div class="alert alert-success">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                
                <div class="card-header">
                    <h4 class="card-title">TABLE DE PROGRAMMES</h4>
                </div>
                
                <div class="card-body">
                    <div class="table-responsive">
                        {% if page_obj %}
                        <table class="table tablesorter">
                            <thead class="text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th>Description</th>
                                    <th>Fréquence d'application</th>
                                    <th>Pesticide</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for programme in page_obj %}
                                <tr>
                                    <td>{{ programme.nom }}</td>
                                    <td>{{ programme.description }}</td>
                                    <td>{{ programme.frequence_application }}</td>
                                    <td>{{ programme.pesticide.area }}</td> <!-- Modifiez ici pour afficher le bon champ -->
                                    <td>
                                        <form action="{% url 'delete_prog' programme.id %}" method="POST" style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger btn-sm" title="Supprimer">
                                                <i class="tim-icons icon-simple-remove"></i>
                                            </button>
                                            <a href="{% url 'edit_prog' programme.id %}" class="btn btn-info btn-sm" title="Modifier">
                                                <i class="tim-icons icon-refresh-02"></i>
                                            </a>
                                            <a href="{% url 'details_prog' programme.id %}" class="btn btn-info btn-sm" title="Détailles">
                                                <i class="tim-icons icon-light-3"></i>
                                            </a>
                                            
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="pagination">
                          <span class="step-links">
                              {% if page_obj.has_previous %}
                              <a href="?page=1" class="btn btn-secondary">
                                  <i class="tim-icons icon-minimal-left"></i><i class="tim-icons icon-minimal-left"></i>
                              </a>
                              <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary">
                                  <i class="tim-icons icon-minimal-left"></i>
                              </a>
                              {% endif %}
                              
                              <span class="current">
                                  Page {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                              </span>
                              
                              {% if page_obj.has_next %}
                              <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary">
                                  <i class="tim-icons icon-minimal-right"></i>
                              </a>
                              <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-secondary">
                                  <i class="tim-icons icon-minimal-right"></i><i class="tim-icons icon-minimal-right"></i>
                              </a>
                              {% endif %}
                          </span>
                        </div>

                        {% else %}
                        <p>Aucun programme trouvé</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
