{% extends "layouts/base.html" %}

{% block title %}Pesticide Treatment Program Details{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
    .card-user {
        background-color: #f8f9fa; 
        border: 1px solid #e0e0e0; 
        border-radius: 15px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }
    .avatar {
        width: 100px; 
        height: 100px; 
        border-radius: 50%; 
    }
    .card-title {
        margin-top: 20px;
        font-size: 1.5rem; 
        color: #333; 
        border-bottom: 2px solid #0a2207; 
        padding-bottom: 10px; 
    }
    .card-description {
        margin-top: 10px;
        font-size: 1rem; 
        color: #555; 
    }
    .button-container {
        margin-top: 20px; 
    }
    .btn-custom {
        background-color: #007bff; 
        color: white; 
        border-radius: 5px;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-8 offset-md-2"> 
            <div class="card card-user">
                <div class="card-body text-center"> 
                    <div class="author">
                        <img class="avatar" src="{{ ASSETS_ROOT }}/img/emilyz.jpeg" alt="Programme Avatar">
                        <h5 class="title">{{ programme.nom }}</h5>
                    </div>
                    <h4 class="card-title"> Program</h4>
                    <div class="card-description">
                        <strong>Description:</strong> {{ programme.description }}<br>
                        <strong>Application Frequency:</strong> {{ programme.frequence_application }}
                    </div>
                    <h4 class="card-title">Pesticide </h4>
                    <div class="card-description">
                        <strong>Area:</strong> {{ programme.pesticide.area }}<br>
                        <strong>Year:</strong> {{ programme.pesticide.year }}<br>
                        <strong>Value:</strong> {{ programme.pesticide.value }}<br>
                    </div>
                    <div class="button-container">
                        <a href="{% url 'edit_prog' programme.id %}" class="btn btn-custom">Modifier le Programme</a>
                        <form action="{% url 'delete_prog' programme.id %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Supprimer le Programme</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
