{% extends "front/baseF2.html" %}

{% block content %}

<!-- Portfolio Section -->
<style>
    .portfolio-item {
        position: relative;
        overflow: hidden; 
    }

    .overlay-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6); 
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        opacity: 0; 
        transition: opacity 0.3s; 
    }

    .hover-bg:hover .overlay-text {
        opacity: 1; 
    }
</style>
<div id="portfolio">
    <div class="section-title text-center center">
      <div class="overlay">
        <h2>Programs</h2>
        <hr>
        <p>Discover the pesticide program, designed to support sustainable agriculture and optimize your crops.</p>
      </div>
    </div>


<div class="container">
    <div class="row">
       
        <div class="row">
            <div class="intro-text">
                
                <a href="{% url 'all_pesticideFront' %}" class="btn btn-custom btn-lg page-scroll">All Pesticides</a>
            </div>
        </div>
     <div class="row">
        <div class="portfolio-items">
            {% for programme in programmes %}
            <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
                <div class="portfolio-item">
                    <div class="hover-bg"> 
                            <img src="{{ FRONT_ROOT }}/img/portfolio/programme-large.jpg" class="img-responsive" alt="{{ programme.nom }}">

                            <img src="{{ FRONT_ROOT }}/img/menu-bg.jpg" class="img-responsive" alt="{{ programme.nom }}">
                            
                            <div class="overlay-text">
                                <h4>{{ programme.nom }}</h4>
                                <p><strong>Description:</strong> {{ programme.description }}</p>
                                <p><strong>Application Frequency:</strong> {{ programme.frequence_application }}</p>
                                <p><strong>Targeted Pesticide:</strong> {{ programme.pesticide.area }}</p>
                                <p><strong>Year:</strong> {{ programme.pesticide.year }}</p>
                            </div>
                        </a> 
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
