{% extends "layouts/base.html" %}

{% block title %} Ressource Profile {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="title">{% if form.instance.pk %}Modifier{% else %}Ajouter{% endif %} une Ressource</h3>
                </div>
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_nom_ressource">Nom de la Ressource :</label>
                                    {{ form.nom_ressource }}
                                </div>
                            </div>
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label for="id_type_ressource">Type de Ressource :</label>
                                    {{ form.type_ressource }}
                                </div>
                            </div>
                            <div class="col-md-6 pl-md-1">
                                <div class="form-group">
                                    <label for="id_quantite">Quantité :</label>
                                    {{ form.quantite }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label for="id_unite_mesure">Unité de Mesure :</label>
                                    {{ form.unite_mesure }}
                                </div>
                            </div>
                      
                            <div class="col-md-6 pl-md-1">
                                <div class="form-group">
                                    <label for="id_zone">Zone d'Application :</label>
                                    {{ form.zone }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-fill btn-primary">Enregistrer</button>
                                <a href="{% url 'ressource_list' %}" class="btn btn-danger">Annuler</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
